:root {
	--bg: #282c34;
	--bg-sel: #3e4451;
	--fg: #abb2bf;
	--hl: #b6bdca;
}

/* General style */
*:not(svg) {
	background: var(--bg) !important;
	background-color: var(--bg) !important;
	border-color: var(--bg-sel) !important;
	color: var(--fg) !important;	
}

*:before:not(svg) {
	background: var(--bg) !important;
	background-color: var(--bg) !important;
	border-color: var(--bg-sel) !important;
	color: var(--fg) !important;	
}

*:after:not(svg) {
	background: var(--bg) !important;
	background-color: var(--bg) !important;
	border-color: var(--bg-sel) !important;
	color: var(--fg) !important;	
}

*:hover:not(svg) {
	background: var(--bg) !important;
	background-color: var(--bg) !important;
	border-color: var(--bg-sel) !important;
	color: var(--fg) !important;	
}

*:focus:not(svg) {
	background: var(--bg) !important;
	background-color: var(--bg) !important;
	border-color: var(--bg-sel) !important;
	color: var(--fg) !important;	
}

a, a:link, a:visited {
	color: var(--hl) !important;	
	text-decoration: none !important;
}

a:hover, a:active {
	color: var(--hl) !important;	
	text-decoration: underline !important;
	text-decoration-color: var(--hl) !important;
}

hr {
	color: var(--bg-sel) !important;
	z-index: 99;
}

/* Specific fixes */
.bg-gray, .bg-gray-light, .bg-white, .bg-blue-light { background: var(--bg) !important; } /* GH */
.link-gray-dark, .text-gray, .text-gray-dark, .muted-link, .link-gray { color: var(--fg) !important; } /* GH */
.border-top, .border-lg-top { border-top: 1px solid var(--bg-sel) !important; } /* GH */
.border-bottom, .border-lg-bottom { border-bottom: 1px solid var(--bg-sel) !important; } /* GH */
.border-right, .border-lg-right { border-right: 1px solid var(--bg-sel) !important; } /* GH */
.border-left, .border-lg-left { border-left: 1px solid var(--bg-sel) !important; } /* GH */
.border-md, .border-gray-dark, .border { border: 1px solid var(--bg-sel) !important; } /* GH */
.UnderlineNav-item, .reponav-item, .pagehead { border: 0 !important; } /* GH */
.TimelineItem:before { background-color: var(--bg-sel) !important; } /* GH */
.timeline-comment--caret:after, .timeline-comment--caret:before { display: none !important; } /* GH */
.mb-4.js-notice, .repo-language-color { display: none !important; } /* GH */

.w3-light-grey, .w3-white { background: var(--bg) !important; } /* W3 */

.-main a.-logo, ol.list-reset.grid.gs4, #left-sidebar.ps-relative { display: none !important; } /* SO */

.RNNXgb { border: none !important; } /* Google */

.ytp-gradient-bottom { display: none !important; } /* YT */
.ytp-preview, .ytp-tooltip *, .ytp-chrome-bottom *, .ytp-chrome-bottom, .ytp-chrome-bottom:hover, .ytp-chrome-controls:hover, .ytp-progress-bar-padding:hover { background-color: transparent !important; } /* YT */
.ytp-swatch-background-color { background: var(--fg) !important; } /* YT */

/* Scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-sel);
}

::-webkit-scrollbar-corner {
    background: var(--bg);
}
